.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px; 
    margin-top: 100px;
   
}

.registerLogo {
    height: 100px;
    margin-top: 100px;
}

.normInput {
    border-radius: 25px;
    height: 20px;
    padding-inline-start: 15px;
    outline: none;
}   

.addButton {
    border-radius: 5px;
    height: 20px;
    width: 60px;
    font-family: 'Press Start 2P';
    outline: none;
}    

.gridButton {
    height: 100px;
    width: 150px;
    font-family: 'Press Start 2P';
    outline: none;
    font-size: 10px;

}    