@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
    background-color: skyblue; }

h3 {
    font-family: 'Press Start 2P';
}

p {
    font-family: 'Press Start 2P';
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 150px;
}

.loginLogo {
    height: 100px;
    margin-top: 100px;
}

Input {
    border-radius: 25px;
    height: 20px;
    padding-inline-start: 15px;
    outline: none;
}

.blueButton {
    border-radius: 25px !important;
    height: 40px;
    width: 135px;
    background-color: skyblue;
    font-family: 'Press Start 2P';
    outline: none;
}    

.App {
    text-align: center;
}