@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
    background-color: skyblue; }

h3 {
    font-family: 'Press Start 2P';
}

p {
    font-family: 'Press Start 2P';
}

.loginContainer .loginInput {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}    

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 150px; 

}

.loginContainer .loginInput .input, .loginContainer .loginInput .button {
    margin-top: 0px; }

.registerLogo {
    height: 100px;
    margin-top: 300px;
}

input {
    border-radius: 25px;
    width: 250px;
    height: 25px;
    padding-inline-start: 15px;
}

.button {
    border-radius: 25px !important;
    height: 40px;
    width: 135px;
    background-color: skyblue;
    font-family: 'Press Start 2P';
    margin-bottom: 20px;
}    